.cart-container{
    height: 100vh;
    padding: 15px 15px;
    background-color: white;
    border-radius: 10px;
    /* position: fixed;
    top: 65px; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.cart-title{
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn-choose{
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid grey;
}
.cart-picture{
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.cart-details{
    display: flex;
    justify-content: space-around;
}
.cart-details p{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.select-item{
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media screen and (max-width:770px){
    .cart-container{
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    .cart-container{
        position: fixed;
    top: 65px;
    }
}
  